<% @properties.each do |property| %>
	<div class="col-4">
		<%= link_to(property_thumbnail(property), property_path(property)) %>
		<h3 class="h5 mt-3"><%= property.name %></h3>
		<p><%= property.address %></p>
		<div class="amenities">
			<span>
				<i class="fa fa-home fa-2x" aria-hidden="true"></i>
			</span>
			<span>
				<i class="fa fa-bed fa-2x" aria-hidden="true"></i>
			</span>
			<span></span>
		</div>
	</div>
<% end %>
