// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.property-thumbnail {
	height: 170px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.property-main-photo {
	height: 900px;
	background-size: cover;
}

#prop-details {
	height: 150px;
	overflow: hidden;

	&.open {
		height: auto;
	}
}
